


<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8">
        <title> 404 ERROR</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

<body>
<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">
  <h1>404!!</h1><hr>
    <h1>Oops!</h1>
    <h2>404 Not Found</h2>
                
    <p>Sorry, an error has occured, Requested page not found!</p>
    <a href="{% url 'index' %}" type="button"  class="btn btn-danger btn-block">Go Home</a>
  </div>
</div>
</body>
</html>








    


















