{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8">
        <meta name="google-site-verification" content="1MuwtdhTf7kX2K1vMl-_NHG3uYJxVLe4WZgER_DgdkU" />
        <title>Short Wiki</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'wiki/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       

</head>

<body>
<div class="container-fluid bg-1 text-center">
<div id="bg">
    <div id="search-container">
        <div id ="search-bg"></div>
        <div id ="search">
        {% block content %}
        {% endblock content %}
        
        </div>

    </div>

</div>

</div>
{% block icontent %}
{% endblock icontent %}



</body>


</html>

