 html, body {
    margin: 0;
    height: 100%;
  /*  
  background-image: url("https://s3.amazonaws.com/StartupStockPhotos/uploads/13.jpg");*/
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  

}
footer { 
    display: block;
}

#bg{
  
  
  padding: 70px 90px 120px 90px;
}
.bg-1{
  min-height: 100%;
  margin-bottom: -70px; /* Equivalent to footer's height */
    padding-bottom: 70px; /* Equivalent to footer's height */


}
#search-bg{
  
  background-position: center top;
  
  padding: 70px 90px 120px 90px;
}
 #search-bg{

/*background-image: url('https://s3.amazonaws.com/StartupStockPhotos/uploads/13.jpg');*/
background-image: url("images/background.jpg");
background-size: 1080px auto;
background-repeat: none;
 }

#search-container {
  position: relative;
}
#search-bg {
  background-repeat: none;
  position: absolute;
  top: 10px;
  right: 5px;
  bottom: 0px;
  left: 5px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(10px);
}

#search {


  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

 
@media (max-width: 600px ) {
  #bg { padding: 10px; }
  #search-bg { background-position: center -10px; }
}
#search h1{
    font-family: " monospace";/*Lucida Console", Monaco, monospace*/
    font-size: 40px;
    color: #fefefe;
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
}
 #search h2
{
  font-family: " calibri";
  color: #fefefe;
  font-weight: normal;
  text-align: center;
}



#search p{
  font-size: 18px;
  color:#000;
  font-weight: normal!important;
  font-family: "calibri";
  text-align: justify;
}

.creator{
   padding-top: 20px;
    text-align: center; color: #fefefe; font-weight: normal;

}
#footer{
    background-color: #333;
            width: 100%;
            bottom: 0;
            height: 70px;
            position: relative;
            overflow: auto;


}
.panel-container{
  padding-left: -80px!important;
}

/*
@media screen and (max-width: 768px) {
  #search h2
{
  font-family: " monaco";
  color: #fefefe;
  font-weight: normal;
  text-align: center;
}



#search p{
  font-size: 18px;
  color:#000;
  font-weight: normal!important;
  font-family: "calibri";
  text-align: justify;
}
#search-container {
  position: relative;
  margin-left: 0px;
}

}
*/
  

